.educational{
}

.educational__header {
    position: absolute;
    background-color: #009999;
    height: 120px;
    width: 100vw;
    padding: 20px;
    color: #FFCB64;
    font-size: 4rem;
    z-index: 2;
}

.midLine{
    position: absolute;
    left: 0px;
    height: 4px;
    width: 100%;
    top: 200px;
    border-top: solid 3px #FF7400; 
    border-bottom: solid 3px #FF7400;
    z-index: -1; 
}

.educational__header__menu{
    position: absolute;
    left: 40vw;
    bottom: 0px;
}

.educational__content{
    position: absolute;
    color: #FFCB64;
    font-size: 2rem;
    top: 160px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-color: #009999;
}

.educational__content__defaultSlide{
    position: relative;
    width: calc(100vw - 45px);
    border-radius: 1000px;
    height: 75vh;
    border: solid 4px #FF7400;
    background-color: #FF7400;
    background-repeat: no-repeat;
    background-image: url("../images/react-word-game-space.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 1;
}

.educational__content__defaultSlide:hover{
    border: solid 4px #1240AB;
}

/* Search */

.search__keywords{
    position: absolute;
    left: 20px;
    overflow: hidden;
}

.search__form{
    width: 25%;
    height: 55px;
    font-size: 3rem;
    text-align: center;
    border-radius: 25px;
    border: solid 4px #FF7400;
    background-color: #009999;
    padding-left: 15px;
    caret-color: #FF7400;
    color: #FFCB64;
    cursor: url(../images/cursor.png), auto;
    z-index: 5;
}

input:focus{
    outline-style: none;
}

*:focus {
    outline-style: none;
}

.keywordArray{
}

/* Buttons */
.buttons__keywords{
    color:#1240AB;
    cursor: url(../images/button-cursor.png), auto;
    font-size: 2rem;
    border: none;
    background: none;
}