.educational{
}

.educational__header {
    position: absolute;
    background-color: #009999;
    height: 120px;
    width: 100vw;
    padding: 20px;
    color: #FFCB64;
    font-size: 4rem;
    z-index: 2;
}

.midLine{
    position: absolute;
    left: 0px;
    height: 4px;
    width: 100%;
    top: 200px;
    border-top: solid 3px #FF7400; 
    border-bottom: solid 3px #FF7400;
    z-index: -1; 
}

.educational__header__menu{
    position: absolute;
    left: 40vw;
    bottom: 0px;
}

.educational__content{
    position: absolute;
    color: #FFCB64;
    font-size: 2rem;
    top: 160px;
    left: 0px;
    width: calc(100% - 20px);
    height: calc(100% - 150px);
    padding: 10px;
    background-color: #009999;
}

.educational__content__defaultSlide{
    position: relative;
    width: calc(100vw - 45px);
    border-radius: 1000px;
    height: 75vh;
    border: solid 4px #FF7400;
    background-color: #FF7400;
    background-repeat: no-repeat;
    background-image: url("../images/react-word-game-space.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 1;
}

.educational__content__defaultSlide:hover{
    border: solid 4px #1240AB;
}

.educational__content__search{
    /* border: solid 4px #1240AB; */
    position: absolute;
    height: 75vh;
    width: 90vw;
    margin: auto;
    right: -15%;

}

    /* Four or Less Game Images */

    
    .educational__content__search__itemFourOrLess{ /* only in case of error */
        position: relative;
        border-radius: 25px;
        top: 40px;
        height: 70vh;
        width: 18vw;
        border: solid 3px #FF7400;
        float: left;
        background-image: url("../images/gameImages/3.jpg");
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

.educational__content__search__itemFourOrLess__Defaults__title{
    position: absolute;
    font-size: 2em;
    top: 25%;
    left: 0;
    width: 100%;
    background: black;
    text-align: center;
    /* width */
}

.educational__content__search__itemFourOrLess__Defaults__description{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    padding: 2px;
    background: black;
    border-top: solid 3px white;
}

.educational__content__search__itemFourOrLess0{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px #1240AB;
    color: white;
    text-shadow: 2px 2px #1240AB;
    float: left;
    background-image: url("../images/gameImages/0.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess0:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess1{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px purple;
    color: red;
    text-shadow: 2px 2px purple;
    float: left;
    background-image: url("../images/gameImages/1.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess1:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess2{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px pink;
    color: pink;
    text-shadow: 2px 2px purple;
    float: left;
    background-image: url("../images/gameImages/2.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess2:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess3{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px yellowgreen;
    color: yellowgreen;
    text-shadow: 2px 2px green;
    float: left;
    background-image: url("../images/gameImages/3.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess3:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess4{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px #1240AB;
    color: white;
    text-shadow: 2px 2px #1240AB;
    float: left;
    overflow: hidden;
    background-image: url("../images/gameImages/4.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess4:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess5{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px orange;
    color: orange;
    text-shadow: 2px 2px teal;
    float: left;
    background-image: url("../images/gameImages/5.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess5:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess6{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px orangered;
    color: orangered;
    text-shadow: 2px 2px red;
    float: left;
    background-image: url("../images/gameImages/6.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess6:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess7{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px blueviolet;
    color: blueviolet;
    text-shadow: 2px 2px purple;
    float: left;
    background-image: url("../images/gameImages/7.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess7:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess8{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px #1240AB;
    color: white;
    text-shadow: 2px 2px #1240AB;
    float: left;
    background-image: url("../images/gameImages/8.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess8:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess9{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px green;
    color: green;
    text-shadow: 2px 2px greenyellow;
    float: left;
    background-image: url("../images/gameImages/9.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess9:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess10{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px pink;
    color: pink;
    text-shadow: 2px 2px red;
    float: left;
    background-image: url("../images/gameImages/10.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess10:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess11{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px powderblue;
    color: powderblue;
    text-shadow: 2px 2px blue;
    float: left;
    background-image: url("../images/gameImages/11.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess11:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess12{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px #1240AB;
    color: white;
    text-shadow: 2px 2px #1240AB;
    float: left;
    background-image: url("../images/gameImages/12.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess12:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess13{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px paleturquoise;
    color: paleturquoise;
    text-shadow: 2px 2px purple;
    float: left;
    background-image: url("../images/gameImages/13.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess13:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess14{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px rebeccapurple;
    color: rebeccapurple;
    text-shadow: 2px 2px purple;
    float: left;
    background-image: url("../images/gameImages/14.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess14:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess15{
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    cursor: url(../images/button-cursor.png), auto;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px gold;
    color: gold;
    text-shadow: 2px 2px silver;
    float: left;
    background-image: url("../images/gameImages/15.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess15:hover {
    border: solid 3px red;
}

.educational__content__search__itemFourOrLess16{
    position: relative;
    border-radius: 25px;
    cursor: url(../images/button-cursor.png), auto;
    overflow: hidden;
    top: 40px;
    height: 70vh;
    width: 18vw;
    border: solid 3px navy;
    color: navy;
    text-shadow: 2px 2px white;
    float: left;
    background-image: url("../images/gameImages/16.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.educational__content__search__itemFourOrLess16:hover {
    border: solid 3px red;
}

.educational__content__search__itemMoreThanFour{
    position: relative;
    top: 40px;
    height: 35vh;
    width: 18vw;
    border: solid 3px #FF7400;
    float: left;
    background-image: url("../images/gameImages/7.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* Search */

.search__keywords{
    position: absolute;
    left: 24%;
    overflow: hidden;
}

.search__form{
    width: 25%;
    height: 55px;
    font-size: 3rem;
    text-align: center;
    border-radius: 25px;
    border: solid 4px #FF7400;
    background-color: #009999;
    padding-left: 15px;
    caret-color: #FF7400;
    color: #FFCB64;
    cursor: url(../images/cursor.png), auto;
    z-index: 5;
}

input:focus{
    outline-style: none;
}

*:focus {
    outline-style: none;
}

.keywordArray{
}

/* Buttons */
.buttons__keywords{
    color:#1240AB;
    cursor: url(../images/button-cursor.png), auto;
    font-size: 2rem;
    border: none;
    background: none;
}