body, html {
  height: calc(100vh - 16px);
  /* margin: 0;
  padding: 0; */
  position: relative;
  overflow: hidden;
  border-radius: 1%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: solid 4px #FF7400;
  background-color: #FF7400;
  cursor: url(../images/cursor.png), auto;
}

.App {
  text-align: center;
  background-color: #009999;
}
